@model MangaStore.Model.MangaModel.MangaDetail

@{
    ViewData["Title"] = "Manga Detail";
}

<h2>Manga Details</h2>

<div class="card">
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageFile)" alt="Image" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><strong>Description:</strong> @Model.Description</p>
        <p class="card-text"><strong>Author:</strong> @Model.Author</p>
        <p class="card-text"><strong>Price:</strong> $@Model.Price</p>
        <p class="card-text"><strong>Items in Stock:</strong> @Model.ItemsInStock</p>
        <p class="card-text"><strong>Genre:</strong> @Model.GenreTypeName</p>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
