@model MangaStore.Model.StoreModel.StoreDetail

@{
    ViewData["Title"] = "Store Detail";
}



<h2>Store Detail</h2>

<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>Id:</strong> @Model.Id</p>
        <p class="card-text"><strong>Name:</strong> @Model.Name</p>
        <p class="card-text"><strong>Address:</strong> @Model.Address</p>
        <p class="card-text"><strong>Phone Number:</strong> @Model.PhoneNumber</p>
        <p class="card-text"><strong>MangaId:</strong> @Model.MangaId</p>
    </div>
</div>

<p class="back-link">
    @Html.ActionLink("Back to List", "Index")
</p>


<style>
    body 
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f5f5f5;
        color: #333;
    }
    .back-link 
    {
        display: inline-block;
        padding: 10px 15px;
        color: #2a2525;
        text-decoration: none;
        background-color: rgb(200, 203, 211);
        border-radius: 4px;
        transition: background-color 0.3s;        
    }

    .back-link:hover 
    {
        text-decoration: none;
        background-color: black;
    }
</style>