@model IEnumerable<MangaStore.Model.StoreModel.StoreListItem>

@{
    ViewData["Title"] = "Store Index";
}

<h1>Store Index</h1>
<p>
    <a asp-action="Create">Create A Store</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MangaName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.MangaName)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", "Store", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", "Store", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", "Store", new {id = item.Id}) |
            </td>

        </tr>
    }
</table>